#formularioEstados {
  display: none;
}

#datosExcel {
  display: none;
}

#ano {
  display: none;
}

#mensajeFormulario {
  z-index: 99;
  position: fixed;
  top: 2%;
}

#informacionExcel {
  display: none;
}

#informacionPlantilla{
  display: none;
}

#contenedorPrincipal{
  min-height: 70vh;
}